# ResearchFish username (needs to have API access enabled)
rf_username: "user"
# ResearchFish password
rf_password: "secret"
# Email address (passed to CrossRef and Unpaywall APIs)
email: "user@example.org"
# URL of the export of publications from NBIROS in XML format
nbiros_pub_export_xml_url: "https://example.org/path/to/pubs.xml"
